<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  "
>
  <p>Demo</p>
  <div style="height: 482px;">
    <nsc [items]="items" [config]="carouselConfig">
      <ng-template #carouselItem let-item let-i="index">
        <div
          class="custom-item"
          [style]="
            'display: flex; flex-direction: column; width: 100%; height: 100%; justify-content: center; align-items: center; background-color: lightblue; gap: 10px;'
          "
        >
          {{ item.title }}
          <button>Click me</button>
        </div>
      </ng-template>
    </nsc>
  </div>
</div>
